<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <form id="contact" action="/api/edit/<%=project._id %>?_method=PUT" method="post">
            <h3>Edit this Project</h3>
            <fieldset>
                <input value="<%= project.authorName %>" placeholder="Your Name" type="text" name="authorName"
                    tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input value="<%= project.projectName %>" placeholder="Project Name" name="projectName" type="text"
                    required></input>
            </fieldset>
            <fieldset>
                <input value="<%= project.imageUrl %>" placeholder="URL" type="url" name="imageUrl" required>
            </fieldset>
            <fieldset>
                <button type="submit" id="contact-submit">Submit</button>
            </fieldset>
            <p class="back-button"><a href="/">Go Back?</a></p>
        </form>
    </div>
</body>

</html>